# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5499/educacion_vial?schema=public"

# JWT
JWT_SECRET="dev_jwt_secret"
JWT_REFRESH_SECRET="dev_jwt_refresh_secret"

# Configuración de la aplicación
PORT=3002  # Cambiado a 3002 para coincidir con main.ts
NODE_ENV=development

# Configuración de CORS
CORS_ORIGIN=http://localhost:19006

# Configuración de WebSocket (opcional)
WEBSOCKET_PORT=3002